.text-blue-pichincha {
  color: var(--tertiary);
}

form {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 20;
}

form:before {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  top: -75px;
  left: 0;
  background: #fff;
  z-index: -1;
}

.member:first-of-type {
  border: none !important;
}

.user-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

/* .skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #E0E7FF;
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(165, 180, 252, 0) 0,
    rgba(165, 180, 252, 0.2) 20%,
    rgba(165, 180, 252, 0.5) 60%,
    rgba(165, 180, 252, 0)
  );
  animation: shimmer 3s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
 */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
/* ------------------------------
Upload button styling
------------------------------ */
.upload {
  --color-black-softest: #485461;
  /* softer black */
  --color-black-soft: #363f48;
  /* softer black */
  --color-black-hard: #2d353c;
  /* harder black */
  --color-black-hardest: #21282e;
  /* hardest black */
  --color-green-light: #65cca9;
  /* light green */
  --color-green: #29b586;
  /* medium green */
  --ease-in-out-quartic: cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  display: inline-flex;
  background: #485461;
  border-radius: 10px;
  box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.02),
    0 4px 3.3px rgba(0, 0, 0, 0.028), 0 7.5px 6.3px rgba(0, 0, 0, 0.035),
    0 13.4px 11.2px rgba(0, 0, 0, 0.042), 0 25.1px 20.9px rgba(0, 0, 0, 0.05),
    0 60px 50px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transform: rotate(0);
}
.upload-info {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-right: 40px;
  fill: #fff;
  color: #fff;
}
.upload-filename {
  padding-left: 8px;
  transition: opacity 300ms ease;
}
.upload-filename.inactive {
  opacity: 0.6;
}
.upload-button {
  position: relative;
  margin: 0;
  font-size: 100%;
  padding: 0 8px;
  font-family: inherit;
  background: none;
  border: none;
  border-radius: inherit;
  outline: none;
  display: flex;
  align-items: center;
  background: var(--secondary);
  margin: 10px;
}

.upload-button:hover {
  background: var(--secondary-hover);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
}
.upload-button-text {
  padding: 8px 16px;
  color: white;
  border-radius: inherit;
  outline: none;
  cursor: pointer;
  transition: background-color 200ms ease, box-shadow 300ms ease;
}

.upload-button-text.inactive {
  background-color: rgba(255, 255, 255, 0.38);
  cursor: not-allowed;
}
.upload-hint {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  transform: translateY(100%);
}
.upload-progress {
  position: absolute;
  top: 90%;
  left: -100%;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(270deg, #87e0c2 0%, #65cca9 50%, #26b082 100%);
  transform-origin: left;
}
.upload.uploading .upload-button-text {
  animation: fade-up-out 0.4s 0.4s forwards, button-pulse 500ms forwards;
}
.upload.uploading .upload-info > * {
  animation: fade-up-out 0.4s 0.4s forwards;
}
.upload.uploading .upload-hint {
  animation: fade-up-in 0.4s 0.8s forwards;
}
.upload.uploading .upload-progress {
  animation: load-right 2s 1s var(--ease-in-out-quartic) forwards;
  animation-iteration-count: infinite;
}

@keyframes button-pulse {
  from {
    box-shadow: 0 0 0 0 var(--color-green-light);
  }
  to {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}
@keyframes fade-up-out {
  to {
    opacity: 0;
    transform: translateY(-40%);
  }
}
@keyframes fade-up-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes load-right {
  0% {
    left: -100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  cursor: pointer;
}

.drop-area {
  border: 1px solid var(--color-black-softest);
}
.drop-area.droppable {
  border: 1px dashed rgba(255, 255, 255, 0.6);
}
.drop-area.highlight {
  border: 1px dashed var(--color-green);
}

/* ------------------------------
Styling for the rest of the page
------------------------------ */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto, sans-serif;
  background: #2d353c;
  color: #ccc;
}

.wrapper {
  text-align: center;
}
.wrapper .upload-wrapper {
  display: inline-block;
}

h1,
h2 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 0.3em;
}
